<% include ../partials/header %>
<div class='' id='banner-home'>
    <hr>
    <p>SARAH + BRYAN</p>
    <p>October 1, 2016</p>
    <p>Oakland, California</p>
    <hr>
</div>
<% if(user && user.invites.length > 0){ %>
    <% if(user.invites[0].attending == null){ %>
        <div  id='rsvp-div'>
            <div id='rsvp-form' class=" col-sm-12 col-xs-12 col-md-5">
                <center>
                    <h1><%=user.invites[0].title %></h1> 
                </center>
    
                <form action="/invites/<%=user.invites[0]._id %>/?_method=PUT" class="form-horizontal" method='POST'>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                          <label for="invite[attending]">Attending ? </label><br>
                          <label><input type="radio" name="invite[attending]" value="true"> Yes</label>
                          <label><input type="radio" name="invite[attending]" value="false"> Sorry, will not be attending</label>
                        </div>
                        <div class="col-sm-offset-1 col-sm-10">
                          <label for="invite[numberInAttendance]">Number of Guests Attending </label>
                          <select class="form-control" name="invite[numberInAttendance]">
                            <% for(var i=0; i <= user.invites[0].guestsAllowed; i++){ %>
                                <option><%= i %></option>
                            <% } %>
                          </select>
                        </div>
                        <div class="col-sm-offset-1 col-sm-10">
                          <label for="invite[vegetarianMeals]">Number of Vegetarian Meals </label>
                          <select class="form-control" name="invite[vegetarianMeals]">
                            <% for(var i=0; i <= user.invites[0].guestsAllowed; i++){ %>
                                <option><%= i %></option>
                            <% } %>
                          </select>
                        </div>
                        <div class="col-sm-offset-1 col-sm-10">
                          <label for="nvite[guestNames]">Guest Names</label>
                          <input type="text" class="form-control" name="invite[guestNames]" placeholder="Guest Names (comma separated)"> 
                        </div>
                        <div class="col-sm-offset-1 col-sm-10"></div>
                        <div class="col-sm-offset-1 col-sm-10">
                            <button class="btn btn-block btn-lg btn-primary"> Submit RSVP </button>
                        </div>
                    </div>
                </form>
                    
            </div>
        </div>
        
        <div class="text-center col-md-12"> 
            <button type="button" id="rsvp-toggle" class="btn btn-lg btn-primary">RSVP NOW</button>
        </div>
    <% } else { %>
        <div class="text-center col-md-12"> 
            <h2>RSVP Received</h2>
        </div>
    <% } %>
<% } %>

<div class='row' id='main-home' >
    <div class='col-md-12 row'>
        <div class='col-md-6'>
            <h3>Section 1</h3>
            <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class='col-md-6'>
            <h3>Section 2</h3>
            <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class='col-md-12'>
            <h3>Section 3</h3>
            <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
   <div class="row col-md-12">
       <hr>
        <div class="col-md-6">
            <p>Where: Temescal Beach House Oakland California</p>
            <p>When: Saturday October 1, 2016 5pm</p>
            <p>etc...</p>
        
        </div>
        <div class='col-md-6'>
            <center>
                <div id="map"></div>
            </center>
        </div> 
   </div> 

    
</div>

<div class='row invite-card'>
    <% if(user && user.invites.length > 0 ){ %>
        <h1><%=user.username%></h1>
        <p>
          vegetarian meals: <%=user.invites[0].vegetarianMeals%>  
        </p>
        <p>
           rsvp date: <%=user.invites[0].rsvpDate%>
        </p>
        <p>
           number of guests: <%=user.invites[0].numberInAttendance%> 
        </p>
        <p>
           attending ?: <%=user.invites[0].attending%>
        </p>
    <% } %>
</div>

<%include ../partials/footer %>
