<% include ../partials/header %>
<div class="container">
    <h1>Create Invites</h1>
    <form action='/invites' method='POST'>
        <input type='text' name='title' placeholder='title'>
        <input type='text' name='description' placeholder='description'>
        <select name="numberInAttendance">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
        </select>
        <select name="owner">
        <% for(var i =0; i < users.length; i++){%>
          <option value= <%=users[i]._id%> > <%=users[i].username%> </option>
        <% } %>
        </select>
        <button>submit</button>
    </form>
    <hr
    <h1>Invite List</h1>
    
    <% for(var i=0; i < invites.length; i++){ %>
      <div class='invite_card'>
        <p>Name: <%= invites[i].owner.username %> </p>
        <p>attending?: <%= invites[i].attending %> </p>
        <p>Number in attendence: <%= invites[i].numberInAttendance %> </p>
        <p>vegetarian meals: <%= invites[i].vegetarianMeals %> </p>
        <p>RSVP Date: <%= invites[i].rsvpDate %> </p>
      </div>
    <% } %>
</div>
<%include ../partials/footer %>

