<% include ../partials/header %>
<body>
<div id="wrap" class="">
<% include ../partials/navBar %>
<% include ../partials/flash %>
  
<div class="container">
    <h1>Add Guest</h2>
    <form action="/register" method="POST">
      <input type = "test" name = "username" placeholder = "username">
      <input type = "password" name = "password" placeholder = "password"> 
      <button>submit</button>
    </form>
    <h1>Create Invites</h1>
    <form action='/invites' method='POST'>
        <input type='text' name='title' placeholder='title'>
        <select name="guestsAllowed">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
        </select>
        <select name="owner">
        <% for(var i =0; i < users.length; i++){%>
          <option value= <%=users[i]._id%> > <%=users[i].username%> </option>
        <% } %>
        </select>
        <button>submit</button>
    </form>
    <hr>
    
    <canvas id="chart" width="300" height="300"></canvas>
    
    <button id="showChart">submit</button>
    <h1>Invite List</h1>
    
    <% for(var i=0; i < invites.length; i++){ %>
      <div class='invite-card'>
        <p>Name: <%= invites[i].owner.username %> </p>
        <p>attending?: <%= invites[i].attending %> </p>
        <p>Number in attendence: <%= invites[i].numberInAttendance %> </p>
        <p>vegetarian meals: <%= invites[i].vegetarianMeals %> </p>
        <p>RSVP Date: <%= invites[i].rsvpDate %> </p>
        
        <% if(currentUser && currentUser.username == "Admin"){ %>
            <a class="btn btn-xs btn-warning" href="/invites/<%=invites[i]._id%>/edit">Edit</a>
            <form id="delete-form" action="/invites/<%=invites[i]._id%>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">Delete</button>
            </form>
        <% } %>
        
      </div>
    <% } %>
</div>
<%include ../partials/footer %>

